/* messy messy messy */
a {
  text-decoration: none; }

.clear {
  clear: both; }

body {
  font-family: "Ubuntu", "Segoe UI", sans-serif;
  width: 800px;
  margin: auto;
  background-color: #222222;
  font-size: 13px;
  overflow-y: scroll; }

#tab {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  cursor: pointer;
  font-weight: bold;
  float: right;
  height: 12px;
  margin-top: -26px;
  margin-right: 32px;
  padding: 6px;
  border-radius: 2px 2px 0 0;
  background-color: #484848;
  color: #a2a2a2;
  text-shadow: 1px 1px 0 #2f2f2f;
  border-bottom: 2px solid #2f2f2f; }
  #tab:hover {
    background-color: #555555;
    color: #bbbbbb; }

#drawer {
  display: none;
  border-bottom: 2px solid #2f2f2f;
  border-radius: 2px 2px 0 0;
  background-color: #484848;
  width: 736px;
  margin: auto;
  padding: 8px; }
  #drawer #reference {
    display: none; }
    #drawer #reference table td {
      color: #bbbbbb;
      text-shadow: 1px 1px 0 #222222;
      padding: 4px; }
      #drawer #reference table td:first-child {
        width: 1px;
        white-space: nowrap;
        font-family: "Menlo", "Consolas", monospace;
        font-weight: bold;
        background-color: #959595;
        color: #151515;
        text-shadow: none; }

#header {
  margin: 1em 0; }
  #header h1 {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    font-family: "Oleo Script Swash Caps", cursive;
    font-size: 72px; }
    #header h1 a {
      color: #aeaeae;
      text-shadow: 3px 3px 0 #090909; }
      #header h1 a:hover {
        color: #c8c8c8; }

#app {
  margin: 0 0 1em;
  border-radius: 2px;
  box-shadow: 4px 4px 0 #151515;
  background-color: #888888;
  padding: 8px; }

input, textarea {
  background-color: #eeeeee;
  border: 2px solid #555555;
  border-radius: 2px;
  padding: 6px;
  font-family: "Menlo", "Consolas", monospace;
  font-size: 13px; }

#pattern {
  float: left;
  margin: 0 2px 0 0;
  width: 619px; }

#flags {
  float: right;
  margin: 0;
  width: 128px; }

#permalink {
  width: 60px; }

#string {
  resize: vertical;
  width: 768px;
  margin-top: 6px;
  margin-bottom: 0;
  height: 128px; }

#wrap {
  display: none; }

#error {
  width: 768px;
  margin-top: 6px;
  margin-bottom: 0;
  background-color: #A77;
  border-color: #744;
  color: #111; }

#matches {
  white-space: pre-wrap; }

#matches, #groups {
  border-radius: 2px;
  margin-top: 6px;
  margin-bottom: 0;
  padding: 6px;
  color: #eeeeee;
  overflow: auto;
  font-family: "Menlo", "Consolas", monospace;
  line-height: 19px;
  background-color: #222222;
  transition-property: height;
  transition-duration: 1s;
  -webkit-transition-property: height;
  -webkit-transition-duration: 1s;
  -moz-transition-property: height;
  -moz-transition-duration: 1s;
  -o-transition-property: height;
  -o-transition-duration: 1s; }
  #matches:empty, #groups:empty {
    display: none; }
  #matches br:last-child, #groups br:last-child {
    display: none; }
  #matches span, #groups span {
    white-space: pre-wrap;
    background-color: #483;
    padding: 1px 0; }

ol.group {
  counter-reset: item;
  list-style-type: decimal; }
  ol.group li:before {
    content: "Match " counter(item, decimal);
    counter-increment: item; }
  ol.group ol {
    margin-bottom: 1em;
    counter-reset: item; }
    ol.group ol:last-child {
      margin-bottom: 0; }
    ol.group ol li:before {
      margin-left: 0.5em;
      content: counter(item, decimal) ": "; }

#footer {
  text-align: center;
  color: #aeaeae;
  text-shadow: 1px 1px 0 #090909; }
  #footer a {
    color: #99C; }
